html {
  color: $base-font-color;
  font-family: $base-font-family;
  line-height: $base-line-height;
  letter-spacing: $body-letter-spacing;
  font-size: 0.8125em;
  @media screen and (min-width: $medium-screen) {

    font-size: 0.875em;
  }
  @media screen and (min-width: $large-screen) {

    font-size: 0.9375em;
  }
  @media screen and (min-width: $xl-screen) {

    font-size: 1em;
  }
  @media screen and (min-width: $xxl-screen) {
    font-size: 1.125em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  font-weight: 400;
}

.page-title {
  color: $blue;
  font-size: modular-scale(4);
  margin-top: 3 * $base-spacing;
  margin-bottom: $base-spacing;
  text-align: center;
}

.page-subtitle {
  font-size: modular-scale(2);
  line-height: $heading-line-height;
  margin-bottom: $base-spacing;
  margin-top: -$small-spacing;
  text-align: center;
}

.section-title {
  font-family: $base-font-family;
  font-size: modular-scale(1);
  margin-bottom: $base-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration-skip-ink: auto;
  transition: color $base-duration $base-timing;

  &:hover {
    color: shade($action-color, 25%);
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }

}

.muted {
  color: $medium-dark-gray;
  font-size: modular-scale(-1);
}


hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
