// Sizes
$small-screen: 600px;
$medium-screen: 700px;
$large-screen: 900px;
$xl-screen: 1200px;
$xxl-screen: 1400px;

$card-width: $medium-screen;
$max-width: 1.5 * $card-width;

// Typography
$base-font-family: Yantramanav, $font-stack-system;
$heading-font-family: Faro, $base-font-family;

// Letter-spacing
$body-letter-spacing: 0.025em;

// Line height
$base-line-height: 1.6;
$heading-line-height: 1.2;

// Other Sizes

// $base-border-radius: 4px;
$base-border-radius: 0;
$base-spacing: 1.5rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$navbar-height: 3 * $base-spacing;

// Colors

$black: #222;
$dark-gray: #6E6E6E;
$medium-gray: #ccc;
$light-gray: #F1F2F7;

$blue: #2763C3;
$light-blue: #abd7f0;
$very-light-blue: tint($blue, 92.5%);

$green: #11bfab;
$red: #ff0000;
$pink: #ffd3e5;
$yellow: #fbe300;

// Font Colors
$base-font-color: $black;
$action-color: $blue;

//Shadows
$base-box-shadow: 0 2 * $base-spacing 2 * $base-spacing (-$base-spacing) rgba(0,0,0,0.12);

// Border
$base-border-color: $medium-gray;
$base-border: 1px solid $base-border-color;
$light-border: 2px solid $light-gray;

// Background Colors
$viewport-background-color: $light-gray;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
