
.alert--wrapper {
  margin: 0 auto;
  @media screen and (min-width: $medium-screen) {
    padding: 0 2 * $base-spacing;
  }
  .alert {
    padding: $base-spacing;
    @media screen and (min-width: $medium-screen) {
      box-shadow: $base-box-shadow;
      padding: $base-spacing 2 * $base-spacing;
    }
    margin: 0;
  }
  &.fixed {
    width: $medium-screen;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    @media screen and (min-width: $medium-screen) {
      margin-bottom: $small-spacing;
    }
    animation: slidein 2.5s forwards ease-in-out;

    &.autodismiss {
      animation: slideinout 6s forwards ease-in-out;
    }
  }
}

.alert {
  margin: $base-spacing 0;
  background-color: lighten($blue,50%);
  font-weight: 700;
  color: $base-font-color;
  border-radius: $base-border-radius;
  padding: $small-spacing;
  position: relative;
  border-left: $blue solid $small-spacing;
  &__success {
    background-color: lighten($green,50%);
    border-left-color: $green;
  }
  &__error {
    background-color: lighten($pink,50%);
    border-left-color: $pink;  }
  &__warning {
    background-color: lighten($yellow,40%);
    border-left-color: $yellow;
  }
  .close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: modular-scale(2);
    text-align: center;
    padding: $base-spacing $base-spacing;
    line-height: $base-spacing;
    height: 3 * $base-spacing;
  }
}

@keyframes slideinout {
  0%,100% {
    transform: translateY(5 * $base-spacing);
    opacity: 0;
  }
  25%,75% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    transform: translateY(5 * $base-spacing);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
