.login-wrapper {
  // margin-left: 50%;
  @media screen and (min-width: $large-screen) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 9;
  }
}

.login-form--title {
  font-size: modular-scale(4);
  margin: 1.5 * $base-spacing 0;
  color: $blue;
}

.login-form--extras {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5 * $base-spacing;
  label, a {
    color: $dark-gray !important;
    font-weight: 400 !important;
    text-decoration: none;
    margin-bottom: 0;
    -webkit-font-smoothing: subpixel-antialiased !important;
  }
  .form-group {
    margin-bottom: 0;
  }
}

.login-form--buttons {
  font-size: modular-scale(1);
  button + button {
    margin-left: $small-spacing;
  }

}

.login-form {
  overflow-y: auto;
  @extend %heavily-padded-box;
  &__inner {
    max-width: $max-width/2;
  }

  .login-form--body,
  .login-form--extras,
  .login-form--buttons {
    max-width: 22.5rem;
  }
}

.background-image--wrapper {
  display: none;
  @media screen and (min-width: $large-screen) {
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    &::before {
      content: '';
      position: absolute;
      z-index: 9;
      top: 0;
      left: 0;
      right: 0;
      height: 5 * $base-spacing;
      background-image: linear-gradient(to bottom, transparentize($black, 0.65) 0%, transparentize($black, 1) 100%);
    }
  }
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.verification-item {
  margin: $base-spacing 0 2 * $base-spacing;
  &:last-child {
    margin-bottom: 0;
  }
}
