.navbar {

  // margin-top: -$navbar-height;
  background-color: $blue;
  color: white;
  text-transform: lowercase;
  position: relative;
  // position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;

  a:not(.button) {
    color: white;
    opacity: .9;
    text-decoration: none;
    transition: opacity $base-duration $base-timing;
    &:hover {
      opacity: 1;
    }
  }

  .dropdown-menu {
    background-color: white;
    a {
      color: $blue;
    }
  }

  &__home {
    background-color: transparent;
    color: $blue
  }
  &__auth-login, &__auth-register {
    @media screen and (min-width: $large-screen) {
      background-color: transparent;
      color: $blue;
    }
  }
  &__home {
    a:not(.button) {
      color: $blue
    }
    .navbar--brand svg path {
      fill: $blue;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
  }

  &__primary {
    .container {
      height: $navbar-height;
      line-height: $navbar-height;
    }
  }

  &__secondary {
    background-color: $green;
    height: 2 * $base-spacing;
    line-height: 2 * $base-spacing;
  }
}

.navbar--brand {
  font-family: $heading-font-family;
  -webkit-font-smoothing: antialiased;
  opacity: 1 !important;
  font-size: modular-scale(1);
  @media screen and (min-width: $medium-screen) {
    margin-right: 3 * $base-spacing;
  }
  font-weight: 400;
  height: $base-spacing;
  line-height: $base-spacing;
  svg {
    vertical-align: middle;
    display: inline-block;
    // margin: .1 * $base-spacing;
    width: .8 * $base-spacing;
    height: .8 * $base-spacing;
  }
}

.navbar--navs {
  display: flex;
  flex-direction: row;
  flex: 1;
  @media screen and (max-width: $medium-screen) {
    flex-direction: column;
    background-color: white;
    position: fixed;
    transform: translateX(100%);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    transition: transform $base-timing $base-duration;

    &.active {
      transform: translateX(0%);
    }
  }
}

.navbar--nav {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media screen and (min-width: $medium-screen) {
    text-align: left;
    flex-direction: row;
  }

  &__right {
    @media screen and (min-width: $medium-screen) {
      margin-left: auto;
      padding-left: $base-spacing;
    }
  }
}

.nav-item + .nav-item {
  @media screen and (min-width: $medium-screen) {
    margin-left: $small-spacing;
  }
}
.nav-link {
  padding-left: $small-spacing;
  padding-right: $small-spacing;
}

.navbar--toggler {
  position: fixed;
  z-index: 99;
  top: $small-spacing;
  right: $base-spacing;
  border-radius: 50%;
  height: 2.5 * $base-spacing;
  width: 2.5 * $base-spacing;
  box-shadow: $small-box-shadow;

  @media screen and (min-width: $medium-screen) {
    display: none;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.dropdown-menu {
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu{
  line-height: $navbar-height;
}

.dropdown-item {
  padding: 0 $base-spacing;
  text-align: right;
}
