.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  border: $base-border;
  margin-left: auto;
}

.page-item {
  flex: 1;
  text-align: center;
}

.page-link {
  font-size: modular-scale(1);
  display: block;
  color: $dark-gray;
  height: 1.25 * $base-spacing;
  padding: 0 $small-spacing;
  line-height: 1.25 * $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: all $base-duration ease;
  @media screen and (min-width: $medium-screen) {
    height: 1.75 * $base-spacing;
    line-height: 1.75 * $base-spacing;
    padding: 0;
  }
}

a.page-link:hover {
  background-color: transparentize($green,.5);
  color: $black;
}

.active .page-link {
  background-color: $green;
  color: white;
}

.page-item + .page-item   {
  border-left: $light-border;
}

.disabled .page-link {
  color: $medium-gray;
}
