.home-hero--image {
  display: none;
  @media screen and (min-width: $medium-screen) {
    display: block;
  }
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  transform: translate3d(0,0,-0.4px) scale(1.4);
  background-image: url('/images/hero-woman-xs.png');
  background-size: auto 100%;
  background-position: 30vw bottom;
  background-repeat: no-repeat;
  z-index: -9;
}


.section__home-hero {
  height: 100vh;
  margin-top: -$navbar-height;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 4 * $base-spacing;
  @media screen and (min-width: $medium-screen) {
    margin-bottom: 14 * $base-spacing;
    align-items: center;
  }
  .container {
    @media screen and (max-width: $medium-screen) {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  }
  &__covid {
    height: 100vh;

    @media screen and (min-width: $large-screen) {
      .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      .hero--message-box {
        width: 50%;
        margin-right: $small-spacing;
      }
      .hero--search-box--container {
        width: 50%;
        margin-top: 2 * $base-spacing;
      }
    }
  }
}

.hero--message-box {
  h1 {
    font-size: modular-scale(7);
    line-height: 1;
    color: $blue;
    margin-bottom: $small-spacing;
    @media screen and (max-width: $medium-screen) {
      font-size: modular-scale(5);
      padding: $base-spacing $base-spacing 0;
      margin-bottom: 0;
    }
  }
  p {
    font-size: modular-scale(1);
    margin-bottom: -3 * $base-spacing;
    @media screen and (max-width: $medium-screen) {
      padding: $small-spacing $base-spacing 0;
      margin-bottom: 0;
    }
  }
}

.hero--search-box--container {
  @media screen and (min-width: $medium-screen) {
    width: 70%;
  }
}

.hero--search-box {
  position: relative;
  z-index: 99;
  max-width: 42em;
  margin-left: auto;
  margin-right: auto;
  margin-top: $navbar-height/2;
  margin-bottom: $base-spacing;
  @extend %padded-box;
  @media screen and (max-width: $medium-screen) {
    max-width: none;
    background-color: transparent;
    box-shadow: none !important;
    padding: $base-spacing;
  }
  &--title {
    font-size: modular-scale(4);
    color: $blue;
    margin-bottom: 1.5 * $base-spacing;

    &__covid {
      color: $base-font-color;
      font-size: modular-scale(3);
      font-weight: 500;
      font-family: $base-font-family;
      margin-bottom: $base-spacing;
    }
  }
  a {
    text-decoration: none;
    border-bottom: 2px solid transparentize($light-blue, 0.7);
    transition: border-bottom ease 1s;

    &:hover {
      border-bottom: 2px solid $light-blue;
    }
  }
  form {
    margin-bottom: $small-spacing;
    input[type='submit'] {
      // border-radius: 0 $base-border-radius $base-border-radius 0;
      text-transform: lowercase;
      width: 100%;
      font-size: modular-scale(0);
      margin-bottom: $small-spacing/2;
    }
    @media screen and (min-width: $medium-screen) {
      display: flex;
      flex-direction: row;
      margin-bottom: 1.5 * $base-spacing;
      input {
        margin: 0;
        &[type='text'] {
          // border-radius: $base-border-radius 0 0 $base-border-radius;
          // border-right: none;
        }
        &[type='submit'] {
          width: auto;
          margin-bottom: 0;
          margin-left: $small-spacing/2;
        }
      }
    }
  }
}
