.opportunity-single {
  @extend %box;
  @extend %padded-box;
  @media screen and (max-width: $large-screen) {
    padding: $small-spacing 0;

  }
  @media screen and (min-width: $large-screen) {
    width: $card-width;
  }
  margin-top: 2 * $base-spacing;
  &--enquire-button {
    @media screen and (max-width: $large-screen) {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 99;
    }
    @media screen and (min-width: $large-screen) {
      float: right;
      margin-top: -$small-spacing/2;
      margin-left: $small-spacing;
    }
    display: block;
  }
  &--title {
    font-size: modular-scale(2);
    color: $blue;
    margin-bottom: 0;
  }
  &--intro {
    font-size: modular-scale(1);
    line-height: $heading-line-height;
    margin-bottom: $base-spacing;
    margin-top: $small-spacing;
  }
  &--description {
    margin-bottom: 2 * $base-spacing;
    h2, h3 {
      font-family: $base-font-family;
      font-weight: 700;
      margin-top: 1.5 * $base-spacing;
      margin-bottom: $small-spacing;
    }
    ul, ol {
      padding-left: 2em;
      padding-bottom: .75em;
    }
    li {
      list-style-type: disc;
      list-style-position: outside;
    }
    li[data-list="ordered"] {
      list-style-type: decimal;
    }
  }
  &--key-features {
    @media screen and (min-width: $medium-screen) {
      display: flex;
      flex-direction: row;
    }
    margin-bottom: 1.5 * $base-spacing;
    color: $dark-gray;
    padding-bottom: $base-spacing;
    border-bottom: $light-border;

    span {
      flex: 0 1 auto;
      display: block;
      @media screen and (min-width: $medium-screen) {
        display: inline;
        + span {
          margin-left: $small-spacing;
        }
      }

    }
  }
  &--hours,
  &--location,
  &--dates {
    &::before {
      vertical-align: text-top;
      content: '';
      display: inline-block;
      height: $base-spacing / 1.5;
      width: $base-spacing / 1.5;
      margin-right: $small-spacing/3;
      background-image: url('/images/icons/clock.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
    a {
      white-space: nowrap;
    }
  }
  &--location::before {
    background-image: url('/images/icons/map-marker.svg');
  }
  &--dates::before {
    background-image: url('/images/icons/calendar.svg');
  }
  &--other-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 (-$small-spacing/2);
    line-height: $heading-line-height;
    div {
      flex: 0 1 calc(33.333% - #{2 * $small-spacing/1.5 });
      margin: $small-spacing $small-spacing/1.5;
      color: $dark-gray;
      font-size: modular-scale(-1);
    }
    h3 {
      font-size: modular-scale(1);
      color: $black;
      font-family: $base-font-family;
      font-weight: 400;
      margin-bottom: $small-spacing/2;
    }
  }
}
